@use '../../../styles/mixins.scss' as *;

.gamezone {
  @include media-tablet {
    justify-content: unset;
    padding-bottom: 24px;
  }

  // .gamezone__container
  &__container {
    @include media-tablet {
      overflow-x: scroll;
      width: 100%;
      padding: 0 5% 24px;
    }
  }

  // .gamezone__title
  &__title {}

  // .gamezone__cards
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &::after {
      content: '';
      flex: 0 0 auto;
      display: block;
      width: 16px;
      height: 1px;
    }
  }

  // .gamezone__card
  &__card {}
}

.card-gamezone {
  max-width: 360px;

  @include media-tablet {
    width: 360px;
    flex: 0 0 auto;
  }

  // .card-gamezone__img
  &__img {
    height: 316px;
    background-size: cover;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 16px;
  }

  // .card-gamezone__title
  &__title {
    margin-bottom: 8px;
  }

  // .card-gamezone__description
  &__description {}
}