@use '../../../styles/mixins.scss' as *;

.prices {

  // .prices__container
  &__container {
    @include media-tablet {
      display: flex;
      gap: 32px;
    }
  }

  // .prices__description
  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}