@import './styles/reset.scss';
@import './styles/fonts.scss';
@import './styles/mixins.scss';


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

h1 {
  font-size: 72px;
  line-height: 75px;
}

h2 {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 36px;
}

h3 {
  font-size: 32px;
  line-height: 1;
}

h4 {
  font-size: 26px;
  line-height: 1;
}

h5 {
  font-size: 18px;
  line-height: 1;
}

body {
  font-size: 18px;
  color: $text-color;
  font-family: "IBM Plex Serif", serif;
}

._container {
  width: 90%;
  max-width: 1280px;
}

._flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

._block {
  padding: 64px 0;
}

._animateUnderline {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -50px;

    width: 100%;
    height: 1px;
    background-color: $text-color;

    visibility: hidden;
    opacity: 0;

    transition: all 0.4s ease-in-out 0s;
  }

  @include hover {
    &:hover {
      &::after {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.copy-message {
  padding: 12px 24px;
  border-radius: 12px;

  position: fixed;
  bottom: 50px;
  right: 50px;

  background-color: $main-color;
  color: #fff;

  visibility: hidden;
  opacity: 0;
  transform: translate(50px, 0);

  transition: all 0.4s ease-in-out 0s;

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0);
  }
}